.control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
.questionNumbersTitle{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    border-bottom: 5px solid #5cb85c;
}
.questionNumbers{
    display: flex;
    justify-content: space-between;
    align-items: center;     
    margin-bottom: 20px;
}
.questionNumbers div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.questionNumberActive{
    background-color: #26586b;
    color: white;
    border-radius: 50%;
}