.question{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question p{
    width: 100%;
    text-align: left;
    border-bottom: 5px solid #5cb85c;
}
.answer{
    margin: 3px 0 3px 0;
    padding: 8px;
    color:black;
    cursor: pointer;
    transition: .3s;
}
.answer:hover{
    background-color: #447b91;
    color: white;
    border-radius: 10px;
}

.selected{
    background-color: #26586b;
    color: white;
    border-radius: 10px;
}