@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.control{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}